@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Init */
:root {
  /* Font */
  --main-font: "Be Vietnam Pro", sans-serif;

  --heading-font-size: 63px;
  --body-font-size: 32px;
  --label-font-size: 14px;

  --input-font-size: 16px;
  --placeholder-font-size: 16px;

  /* Color */
  --main-bg-color: #fafaf9;

  --form-bg-color: #cdd5e038;
  --main-text-color: #ffffff;
  --field-bg-color: #f8fafc;
  --placeholder-text-color: #cdd5e0;
  --input-text-color: #111729;
  --button-text-color: #4036a9;

  /* Border */
  --card-border-radius: 20px;
  --card-input-radius: 15px;

  /* Image */
  --main-bg-image: url("./assets/bg-image.svg");
}

/* Set default */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  display: inline;
}

label,
input,
textarea,
button,
.field p {
  font-family: var(--main-font);
  font-size: var(--input-font-size);
  font-weight: 700;
}

input,
textarea,
button,
.dropdown-field > div {
  border-radius: var(--card-input-radius);
  background: var(--field-bg-color);

  border: solid 1px transparent;
}

input {
  color: var(--input-text-color);
}

input::placeholder {
  color: var(--placeholder-text-color);

  opacity: 1;
  font-weight: 500;
  font-size: var(--placeholder-font-size-mb);
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);

  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

/* Main */
body {
  background-image: var(--main-bg-image);
  background-size: cover;
}

.logo {
  width: 100px;
  margin-left: 25px;
  margin-top: 20px;
}

/* Article */
article {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 25px 25px 25px;
}

article > h1 {
  font-size: var(--heading-font-size);

  max-width: 600px;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 16px;
}

article > p {
  font-size: var(--body-font-size);

  margin-bottom: 72px;
  max-width: 650px;
  text-align: center;
}

/* Section */
article > section {
  background: var(--form-bg-color);
  border-radius: var(--card-border-radius);

  border: solid 1px transparent;
  width: 100%;
}

/* Field */
.field-container {
  margin: 32px;
}

.field-container > .field {
  display: flex;
  flex-direction: column;

  margin-top: 24px;
}

.field-container > button {
  width: 100%;
}

.field-container > .field > label {
  font-size: var(--label-font-size);

  margin-bottom: 4px;
  font-weight: 500;
}

.field-container > .field > input {
  padding: 24px 18px 24px 18px;

  font-size: 19.8px;
}

.field-container > .field > textarea {
  padding: 24px 18px 24px 18px;
}

.field-container > .dropdown-field {
  position: relative;
}

.dropdown-field:hover .dropdown-content {
  display: block;
}

.dropdown-content{
  display: none;
    position: absolute !important;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.field-container > .dropdown-field > button {
  padding: 24px 18px 24px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field-container > .dropdown-field > button > p {
  color: var(--input-text-color);
}

.field-container > .dropdown-field > button > img {
  width: 25px;
}

.field-container > button {
  border-radius: var(--card-input-radius);
  background: var(--field-bg-color);
  color: var(--button-text-color);

  margin-top: 25px;
  padding: 23.75px 18px 23.75px 18px;
  font-size: 20px;
}

@media screen and (min-width: 1024px) {
  .logo {
    margin-left: 25px;
  }

  .field-container-tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 18px;
  }

  .field-haft {
    flex: 1;
  }

  .field-full {
    flex-basis: 100%;
  }

  .field-break {
    flex-basis: 100%;
    height: 0;
  }

  article > h1 {
    font-size: var(--heading-font-size);
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-left: 50px;
  }

  main {
    display: flex;
    justify-content: center;
  }

  article {
    max-width: 747px;
    padding: 0;
  }
  
}
